<div class="poemTitle">
    <h2>{{title}}</h2>
    <hr>
    <div id="credits" class="description">A collaborative poem by Dr. Emily Carr <i class="no-print">and <input id="name" placeholder="Enter name..." value="" type="text"></i></div>
</div>

<div class="poem">
    <p  [innerHTML]="poemText">{{poemText}}</p> <!-- The poemText is created in the ts file-->
    <!-- innerHTML correctly reads/formats HTML in the PoemText
    So <i>word</i> will be displayed in italics, rather than displaying the "<i></i> characters"
  -->
</div>
