<h2>CROSSWORD</h2>
<hr>
<p class="description">Answers will appear on the crossword when you click the related clues.</p>

<table align="center" id="crossword">
    <tr #grid *ngFor="let row of crossword; index as i">
          <td  *ngFor="let col of row; index as j">
            <!-- Issolate Numbers for different styling white:#FFFFFF grey:#CCC8C8 -->
              <div *ngIf="isNumber(col); else second"> <div style="background-color:'grey';color:black"> {{col}}</div></div>
            <!-- make all spaces annimate too -->
              <ng-template #second><div *ngIf="col=='*'&&compareArrays(col, i, j); else third"> <div class="highlight fade-in" style="background-color:'white'"> &nbsp;</div></div></ng-template>
            <!-- Annimate changed cells from previous state -->
              <ng-template #third><div *ngIf="col!='|'&&compareArrays(col, i, j); else fourth"> <div class="highlight fade-in" style="background-color:'white'"> {{col}}</div></div></ng-template>
            <!-- Populate non-annimated previously revealed cells -->
              <ng-template #fourth><div *ngIf="col!='|'; else fifth"> <div style="background-color:'white'"> {{col}}</div></div></ng-template>
            <!-- make all | into blank cells -->
              <ng-template #fifth><div style="background-color:'white'">&nbsp;</div></ng-template>
          </td>
      </tr>
</table>
