/* Note this code doesn't specify font. When integrated into the project, it should use the correct font. */

/* Body text has to be aligned center. For some reason, just centering the headers didn't work.*/
body {
  text-align: center;
}

p {
text-align: left;
}

li {
text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}

.row {
  display: flex;
}

.column {
  float: left;
  padding: 10px;
  /*flex: 1;*/ /*Creates same-width columns*/
}

/*The flexes here make the columns different widths*/
/*This looks really weird with centered headings*/

.left {
  border-style: solid solid solid hidden;
  flex:2;
}

.right {
  border-style: solid hidden solid hidden;
  flex:1;
}

.leftnb { /* nb = no border */
  border-style: hidden hidden hidden hidden;
  flex:2;
}

.rightnb { /* nb = no border */
  border-style: hidden hidden hidden hidden;
  flex:1;
}

.button {
  font-family: Goudy;
  display: block;
  width: 100%;
  background-color: darkgrey;
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: lightgray;
}

/* Used to underline titles */
hr {
    width: 10ch;
    border-top: 2px solid black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 1em;
}

/* Used to add a horizontal if we're not using the grid layout
hr {
border 2px solid black;
} */
