<!--
<h1>YESTERDAY'S NEWS</h1>
<h4>by Emily Carr</h4> -->

<div class="two-column">
  <div id="static-about" class="column left">
    <h1> ABOUT</h1>
    <hr>
    <p>The crossword poem™ is an experiment in <i>coincidence</i> and <i>the quotidian.</i></p>
    <p>My goals with this experiment are sixth-fold:</p>
    <ol>
      <li>to redesign lyric ways of knowing the world with the user’s [non-poet’s] experience in mind;</li>
      <li>to craft a poetic form in which the reader <i>actually, actively</i> participates in the making of meaning, choosing her/his own reading experience;</li>
      <li>to re-envision literature as an interaction that happens between author and audience (as opposed to literature as a pre-conceived object the audience, simply, consumes);</li>
      <li>to redefine the kinds of knowledge that are privileged in the crossword format;</li>
      <li>to explore the possibility of literature as game; and</li>
      <li>to catalyze collaboration on the threshold of (un)continuity, where the edges of disciplines (poetry and computer science) meet.</li>
    </ol>
    <p>The crossword poem™ is a space in which the scientific can spark the lyric and vice versa, the lyric can spark the scientific; in which the real can activate the fabulous and the fabulous can activate the real; a space where wonder and knowing, intuition and intellect, can be in good company; and a space that creates space, that makes space for leaps of the mind and the imagination.</p>
    <p>Inside the crossword, language turns in spectacular and unexpected ways as the words in the answer grid connect, like right-angled snakes, shedding their skin and slipping on new selves.</p>
    <p><i>Consciousness</i> connects to <i>fortune</i> and <i>the elaborate system of status. Innuendo</i> to <i>death</i> and <i>the only enduring legacy of our species. Sentimentality</i> to <i>the wind</i> and <i>a reverse fountain of youth.</i></p>
    <p>Donna Haraway and Miles Davis swap some DNA, go their separate ways; Rikki Ducornet sashays through some Sigmund Freud; Bernardi and Bouillier exchange sideways glances, keep walking into separate futures, like strangers on a Parisian street.</p>
    <p>Like a jazz solo: both improvised and rehearsed, spontaneous and choreographed, belonging not to the <i>either, or</i> but to the <i>yes, and.</i></p>
    <p>As an innovative feminist poet, I am interested in in the alchemy of <i>feeling</i> and <i>solving,</i> <i>process</i> and <i>provocation,</i> how the self articulates and performs itself in a poem, how selves come together to articulate and perform themselves in the space the poem creates, perhaps solely for this purpose.</p>
    <p>These are the kinds of opportunities <i>experiment</i> affords.</p>
  </div>
  <div id="static-credits" class="column right">
    <h1>CREDITS</h1>
    <hr>
    <p>Accomplices in this endeavor include but are not limited to (this is <i>play,</i> not <i>scholarship</i>) Lauren Berlant, Kate Bernheimer, Eula Biss, Chelsea Bondolillo, Franco BIFO Bernardi, Grégoire Bouillier, Nils Bubandt, Timothy Clark, Lucy Corin, Kathryn Davis, Miles Davis, Emily Deprang, Claudia Dey, Emily Dickinson, Joan Didion, Rikki Ducornet, Thalia Field, Sigmund Freud, Elaine Gan, Jorie Graham, Donna Haraway, Vicki Hearne, Daisy Hildyard, Leslie Jamison, Lynn Keller, Kelli Maria Korducki, Amy Leach, Yiyun Li, Clarise Lispector, Dana Teen Lomax, Corinne Low, Anna Lowenhaupt Tsing, Lydia Millet, Claudia Roth Pierpont, Muriel Ruckeyser, Mary Ruefle, Leslie Ryan, Heather Swanson, Nicole Walker, Robin Wall Kimmerer, Joy Williams, and Ludwig Wittgenstein.</p>
    <p>This interactive, electronic version of the crossword poem™ is a collaboration between myself and students in the Computer Science Program at the New College of Florida. Isaac Blake, Daniel Dykiel, Hunter Chasens, and Mei Maddox brainstormed potential solutions, helped me to choose the best solution, and then translated that solution into the computer code that allows you to interact with the crossword poem™ and generate a unique poem based on the clues that intrigue you. I am grateful for their passion, their expertise, and their determination to make this project a reality despite working in self-isolation to slow the spread of COVID-19.</p>
  </div>
</div>



<!--<div class="row">
  <div class = "column leftnb">
  <button class="button"> RETURN TO HOME </button>
  </div>
  <div class = "column rightnb">
  <button class="button"> EMILY CARR'S WEBSITE </button>
  </div>
</div>-->

<!-- Creates single button at the bottom of the page
<hr>
<button class="button"> Go home! </button>
-->
