@font-face {
    font-family: Goudy;
    src: url("../assets/fonts/OFLGoudyStM.otf") format("opentype");
  }

* {
    font-family: Goudy;
}

.header {
  border-bottom: 3px solid black;
}

/* Add a card effect for articles */
.section {
  position: relative;
}

* {
  box-sizing: border-box;
}

.row {
    display: flex;
}

.two-column:after {
  content: "";
  display: flex;
  clear: both;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  /*flex: 1;*/ /*Creates same-width columns*/
}

.left {
    border-style: hidden solid hidden hidden;
}

.right {
    border-style: hidden hidden hidden solid;
}

.scroll-down-message {
    text-align: center;
    border-style: hidden hidden solid hidden;
}

.button {
    font-family: Goudy;
    display: block;
    width: 100%;
    background-color: darkgrey;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

a { text-decoration: none; }

.button:hover {
    background-color: lightgray;
  }

.poem_select {
  position: absolute;
  display: flex;
  width: auto;
  transform: translate(0%, 75%);
}

@media screen and (max-width: 600px) {
  .column {
    float: left;
    width: 100%;
    padding: 0;
  }
  .left {
    border: none;
  }
  .right {
    border-style: solid hidden hidden hidden;
  }
  .scroll-down-message {
      text-align: center;
      border-style: solid hidden solid hidden;
  }
  .poem_select {
    position: relative;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

.poem {
    border-style: hidden hidden solid hidden;
}

.column {
    float: left;
    padding: 10px;
}

.nb { /* nb = no border */
    border-style: hidden hidden hidden hidden;
}

.flex-two {
    flex:2;
}

.flex-one { /* nb = no border */
    border-style: hidden hidden hidden hidden;
    flex:1;
}

.hidden {
    display: none;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.fade-in {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media print {
    .no-print {
      display: none;
    }
    .to-print {
       display: block;
    }
}
