@font-face {
    font-family: Goudy;
    src: url("../assets/fonts/OFLGoudyStM.otf") format("opentype");
  }

* {
    font-family: Goudy;
}

.two-column {
    display: flex;
}

.column {
    flex: 50%;
}

.left {
    border-style: solid hidden hidden hidden;
}

.right {
    border-style: solid hidden hidden solid;
}

.poem {
    border-style: hidden hidden solid hidden;
}

.scroll-down-message {
    text-align: center;
    border-style: hidden hidden solid hidden;
}