@font-face {
    font-family: Goudy;
    src: url("../assets/fonts/OFLGoudyStM.otf") format("opentype");
  }

* {
    font-family: Goudy;
}

.two-column {
    display: flex;
}

.column {
    flex: 50%;
}

.left {
    border-style: solid hidden hidden hidden;
}

.right {
    border-style: solid hidden hidden solid;
}

.poem {
    border-style: hidden hidden solid hidden;
}

.scroll-down-message {
    text-align: center;
    border-style: hidden hidden solid hidden;
}

.row {
    display: flex;
}

.column {
    float: left;
    padding: 10px;
    /*flex: 1;*/ /*Creates same-width columns*/
}

.nb { /* nb = no border */
    border-style: hidden hidden hidden hidden;
}

.flex-two { 
    flex:2;
}

.flex-one { /* nb = no border */
    border-style: hidden hidden hidden hidden;
    flex:1;
}

.button {
    font-family: Goudy;
    display: block;
    width: 100%;
    background-color: darkgrey;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
  
  .button:hover {
    background-color: lightgray;
  }

.hidden {
    display: none;
}