<h2>CLUES</h2>
<hr>
<p class="description">Explore the poem by clicking clues that intrigue you.</p>

<div class="tabs">
    <a  (click)="switch($event)" class="left tab selected" id="across">
        ACROSS
    </a>
    <a (click)="switch($event)" class="right tab background" id="down">
        DOWN
    </a>
</div>

<div class="clues">
    <div class="across">
        <ng-template ngFor let-id [ngForOf]="acrossIds">
            <p><a class="fade-out" (click)="trigger($event, id)">{{ id | slice:0:-1 }}. {{ ids[id]["clue"] }}</a></p>
        </ng-template>
    </div>

    <div class="down hidden">
        <ng-template ngFor let-id [ngForOf]="downIds">
            <p><a (click)="trigger($event, id)">{{ id | slice:0:-1 }}. {{ ids[id]["clue"] }}</a></p>
        </ng-template>
    </div>
</div>
