<h2>CLUES</h2>
<hr>
<p class="description">Explore the poem by clicking clues that intrigue you.</p>

<div class="tabs">
    <a  (click)="switch($event)" class="left tab selected" id="across">
        ACROSS
    </a>
    <a (click)="switch($event)" class="right tab background" id="down">
        DOWN
    </a>
</div>

<div class="clues">
    <div class="across">
        <p *ngFor="let clue of acrossClues; index as id"><a class="fade-out" (click)="trigger($event, acrossIds[id])" [innerHTML]="clue"></a></p>
    </div>

    <div class="down hidden-clue">
        <p *ngFor="let clue of downClues; index as id"><a class="fade-out" (click)="trigger($event, downIds[id])" [innerHTML]="clue"></a></p>
    </div>